.PageHeader {
    margin-left: 15px;
}

.FilmeInput {
    margin-top: 5px;
}

.marginTable {
    margin-top: 5px;
}

/*.jumbotron {
    width: 600px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.table {
    margin-top: 20px;
}

.form-control {
    margin-top: 5px;
}

.btn-primary {
    margin-top: 5px;
}

.ngFilmeSelecionadoBackGroundColor {
    background-color: lightgoldenrodyellow;
}

.ngFilmeSelecionadoNegrito {
    font-weight: bold;
}*/
